//
   Created by lonso on 14-3-19.
   liusc@polyvi.com



div(ng-controller='blogController')
    form.col-md-6(role='form')
        div.form-group
            label(for='title') title
            input(type='text', placeholder='input title', ng-model='blog.title').form-control#title
        div.form-group
            label(for='content') content
            textarea(ng-model='blog.content', placeholder='input content').form-control#content

        button.btn.btn-primary(ng-click='submit()') 添加
