//
   Created with JetBrains WebStorm.
   User: lonso
   Date: 3/19/14
   Email: lonso@foxmail.com
   Gob Bless!!!


div.col-md-6(style='margin-left:10%;').h1 #{blog.title}
hr
div.col-md-6(style='margin-left:10%;').h1 #{blog.content}