
<!--
Created by lonso on 14-3-19.
liusc@polyvi.com

--><!DOCTYPE html>
<html ng-app="koaLearn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>koaLearn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <script src="javascripts/angular.js"></script>
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-inverse">
      <p class="navbar-text"><a ng-href="#/"> koaLearn</a></p>
    </nav>
    <div ng-view></div>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="javascripts/angular-sanitize.min.js"></script>
    <script src="javascripts/controllers/blogService.js"></script>
    <script src="javascripts/controllers/blog.js"></script>
  </body>
</html>